<% if session[:user_id].present? %>
    <%= form_tag("carts/create") %>
<% else %>
    <%= form_tag(new_customer_path) %>
<% end %>




    
<table border="1">
  <tr>
    <th>商品</th>
    <th>商品名</th>
    <th>詳細</th>
    <th>金額</th>
  </tr>
<% cnt = 0 %>  
<% @products.each do |product| %>
<% cnt += 1 %>
    <div class="item">  
      <tr>
        <td><%= image_tag("/image/#{product.product_image}", :class => "prod_image", :width => 100, :height => 100) %></td>
        <td><%= "#{product.name}"  %></td>
        <td><%= "#{product.info}"  %></td>
        <td><%= "#{product.price}"  %></td>
      </tr>
    </div>
<% end %>

</table>

<input type="submit" name="submit" value="カートに入れる" >

